
@font-face {font-family: "iconfont";
  src: 
  url('../fonts/iconfont.ttf?t=1511159010509') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e60a"; }

.icon-award:before { content: "\e614"; }

.icon-employee:before { content: "\e600"; }

.icon-gift:before { content: "\e673"; }

